<br>
<h3>Edit Profile</h3>
<hr>
<br>
<form #edit="ngForm" (ngSubmit)="editProfile(edit.value)">
    <mat-form-field appearance="outline" class="form-field">
            <input matInput type="text" name="userPrincipalName" placeholder="user" class="input-field" [(ngModel)]="profile.userPrincipalName" required>
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field">
            <input matInput type="text" name="givenName" placeholder="user" class="input-field" [(ngModel)]="profile.givenName" required>
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field">
            <input matInput type="text" name="surname" placeholder="user" class="input-field" [(ngModel)]="profile.surname" required>
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field">
            <input matInput type="text" name="jobTitle" placeholder="jobTitle" class="input-field" [(ngModel)]="profile.jobTitle">
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field">
            <input matInput type="text" name="mobilePhone" placeholder="mobilePhone" class="input-field" [(ngModel)]="profile.mobilePhone">
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field">
            <input matInput type="text" name="preferredLanguage" placeholder="preferredLanguage" class="input-field" [(ngModel)]="profile.preferredLanguage">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" value="submit" class="submit-button">Confirm</button>
</form>